[
    {
        "name":"xingtool_orders_001",
        "userName":"wjp",
        "password":"wjp",
        "hosts":[
            {
                "host":"127.0.0.1",
                "port":"27017"
            }
        ],
        "database":"xingtool_orders_001",
        "option":{
            "replicaSet":"",
            "slaveOk":false,
            "safe":false,
            "wtimeoutMS":0,
            "connectTimeoutMS":0,
            "socketTimeoutMS":0,
            "maxPoolSize":0,
            "minPoolSize":0,
            "maxIdleTimeMS":0
        },
        "connectTimeout":10,
        "executeTimeout":10
    }
]