[
    {
        "master":{
            "name":"wjp",
            "databaseName":"wjp",
            "userName":"sa",
            "password":"wjp",
            "host":"192.168.31.223",
            "port":"1433",
            "charset":"utf8mb4",
            "maxOpenConns":20,
            "maxIdleConns":10,
            "maxLifetime":0
        },
        "slave":[
        ]
    }
]